<div class="wrapper">
    <div class="card userPost-Card">
    <div  class="card-header loginSignup-Header navBar">
        <p>Create New Post</p>
    </div>
  <form class="form createpost-form">
  <div class="card-body post-cardBody">
      <label class="inputLabel" for="title_field">
      Title:
    </label>
    <br />
    <input class="loginSignup-Input" id="title_field" name="title field">
      {{title}}
    </input>
    <br />
    <label class="inputLabel" for="content_field">
      Content:
    </label>
    <br />
    <input class="loginSignup-Input" id="content_field" name="content field">
      {{content}}
    </input>
    <br />
    <button type="submit" class="btn btn-secondary loginSignup-Btn">Create</a>
    <br />
  </div>
  </form>
</div>
</div>

<script src="/js/createpost.js"></script>