<div class="postContainer">
<div class="card userPost-Card">
    <div  class="card-header userPost-Header navBar">
        <p>Username</p>
        <p class="userPosted">Date posted</p>
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <div class="card-body post-cardBody">
    <p class="post-cardText">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card userPost-Card">
    <div  class="card-header userPost-Header navBar">
        <p>Username</p>
        <p class="userPosted">Date posted</p>
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <div class="card-body post-cardBody">
    <p class="post-cardText">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card userPost-Card">
    <div  class="card-header userPost-Header navBar">
        <p>Username</p>
        <p class="userPosted">Date posted</p>
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <div class="card-body post-cardBody">
    <p class="post-cardText">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>