<div class="card userPost-Card">
    <div  class="card-header loginSignup-Header navBar">
        <p>Login</p>
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <form class="form login-form">
  <div class="card-body post-cardBody">
      <label class="inputLabel" for="user_name_field">
      Username:
    </label>
    <br />
    <input class="loginSignup-Input" id="user_name_field" name="username field">
      {{user_name}}
    </input>
    <br />
    <label class="inputLabel" for="password_field">
      Password:
    </label>
    <br />
    <input class="loginSignup-Input" id="password_field" type="password" name="password field">
      {{password}}
    </input>
    <br />
    <button class="btn btn-secondary loginSignup-Btn" type="submit">Login</a>
    </form>
    <br />
    <a class="removeHyperlink" href="/signuppage" >Sign up instead</a>
  </div>
</div>
</div>
<script src="./js/login.js"></script>