<div class="card userPost-Card">
    <div  class="card-header loginSignup-Header navBar">
        <p>Sign Up</p>
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <form class="form signup-form">
  <div class="card-body post-cardBody">
      <label class="inputLabel" for="user_name_field">
      Username:
    </label>
    <br />
    <input class="loginSignup-Input" id="user_name_field" name="username field">
      {{user_name}}
    </input>
    <br />
    <label class="inputLabel" for="password_field">
      Password:
    </label>
    <br />
    <input class="loginSignup-Input" id="password_field" type="password" name="password field">
      {{password}}
    </input>
    <br />
    <button type="submit" class="btn btn-secondary loginSignup-Btn">Sign Up</a>
    </form>
    <br />
    <a class="removeHyperlink" href="/loginpage" >Login instead</a>
  </div>
</div>
</div>

<script src="./js/signup.js"></script>