:root {
  --mintGreen: #98e7b0;
  --darkBrown: #352607;
  --lightGray: #b4b7b9;
}

.navbar {
  background-color: var(--darkBrown);
}
.nav-link {
  color: var(--mintGreen);
  font-size: 24px;

}

.navTitle {
  color: var(--darkBrown);
  font-size: 32px;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--mintGreen);
  box-shadow: 5px 10px var(--lightGray);
  font-weight: bolder;

}

.userPosted {
  justify-content: flex-end;
}

.userPost-Card {
  margin: 0 auto;
  width: 85%;
  margin-top: 15px;
  border-style: solid;
  border-color: var(--darkBrown);
  border-width: 0 2px 3px 2px;
}

main {
  display: flex;
}

body{
  background-color: var(--mintGreen);
}

.userPost-Header {
  height: 20%;
  display: flex;
}

.userPost-Header p {
  color: var(--lightGray);
}

.post-cardBody{
  background-color: var(--mintGreen);
}

.post-cardText {
  color: var(--darkBrown);
}